{% extends 'base.html.twig' %}

{% block title %} MyCustomCard - Accueil {% endblock %}

{% block body %}
<section id="banner">
    <div class="banner_container">
        <h1>Créer, modifie, découvre et partage tes créations de cartes customisés !</h1>
    </div>
</section>

<section id="display">
    <div class="container">
        <h2>Les dernières créations</h2>
        <div class="cards container">
            {% for card in cards %}
            <div class="card">
            <div class="card-frame">
                <img src="{{ asset('asset/img/' ~ card.color.frame) }}" alt="Frame card">
            </div>
            <div class="card-stats">
                <img src="{{ asset('asset/img/' ~ card.color.stats) }}" alt="stats card">
            </div>
            <div class="card-img">
                <img src="{{ asset('asset/uploads/images/' ~ card.imageName) }}" alt="Img card">
            </div>
            <div class="card-title">        
                <h3>{{ card.name }}</h3>
            </div>
            <div class="card-effect">
                <p>{{ card.effect }}</p>
            </div>
            <div class="card-power">
                <p>{{ card.strength }}/ </p>
                <p>{{ card.toughness }}</p>
            </div>
            <div class="card-details">
                <a href="{{path('detailscard',{'id' : card.id})}}">Plus d'informations ici</a>
            </div>
            </div>
            {% endfor %}    
        </div>
    </div>
</section>
{% endblock %}
