<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <link rel="icon" type="image/png" href="{{ asset('asset/favicon-96x96.png') }}" sizes="96x96" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
    {% block header %}
        <header>
            <nav class="navbar">
                <div class="navbar__logo">
                    <a href="{{ path('home') }}">
                        <img src="{{ asset('asset/img/logo.png') }}" alt="Logo">
                    </a>
                </div>

                <button class="navbar__burger" id="burgerBtn" aria-label="Menu" aria-expanded="false" aria-controls="navMenu" aria-haspopup="true">
                    <span class="navbar__burger-bar"></span>
                    <span class="navbar__burger-bar"></span>
                    <span class="navbar__burger-bar"></span>
                </button>

                <ul class="navbar__menu" id="navMenu">
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li><a href="{{ path('museum') }}">Découvrir</a></li>
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('addcard') }}">Créer une carte</a></li>
                        <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                    {% else %}
                        <li><a href="{{ path('login') }}">Connexion</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
    {% endblock %}
    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>
        <div id="foot">
            <div class="footleft">
                <p>MyCustomCards tout droits réservés. Copyright &copy;</p>
            </div>
            <div class="footright">
                <img src="{{ asset('asset/img/logo.png') }}" alt="Logo">
            </div>
        </div>
    </footer>
    </body>
</html>
