<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
    {% block header %}
        <header>
            <nav class="nav-desktop">
                <div class="nav-img">
                    <img src="{{ asset('asset/img/logo.png')}}" alt="Logo">
                </div>
                <ul>
                    <li><a href="{{path('home')}}">Accueil</svg></a></li>
                    <li><a href="{{path('museum')}}">Découvrir</a></li>
                    {% if is_granted('ROLE_USER')%}
                    <li><a href="{{path('addcard')}}">Créer une carte</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') == false %}
                        <li><a href="{{path('login')}}">Connexion</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{path('logout')}}">Déconnexion</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% endblock %}
        {% block body %}{% endblock %}
    </body>
    <footer>
        <div id="foot">
                <div class="footleft">
                    <p> MyCustomCards tout droits réservés. Copyright &copy;. <p>
                </div>
                <div class="footright">
                    <img src="{{ asset('asset/img/logo.png')}}" alt="Logo">
                </div>
        </div>
    </footer>
</html>
